<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find arctos_description)/urdf/common/joint_link.xacro" />

  <!-- Arctos Simple Pinch Gripper -->
  <!-- this definition used the "macro" in urdf/common to quickly define all the attributes-->
  <xacro:arctos_link
    name="gripper_body"
    inertia_origin_xyz="-0.00019585 -0.016421 0.020172" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.33417"
    ixx="0.00022453"
    ixy="-3.0847E-05"
    ixz="-2.1052E-06"
    iyy="0.0012489"
    iyz="9.1658E-06"
    izz="0.001362"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="white"
  />

    <xacro:arctos_link
    name="right_finger"
    inertia_origin_xyz="0.04544 -0.014371 0.082448" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.089929"
    ixx="7.526E-05"
    ixy="3.6832E-07"
    ixz="-1.6407E-06"
    iyy="6.4721E-05"
    iyz="1.4045E-07"
    izz="1.9222E-05"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="white"
  />

  <xacro:arctos_link
    name="left_finger"
    inertia_origin_xyz="0.045526 0.082448 -0.019029" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.089929"
    ixx="7.526E-05"
    ixy="-1.6407E-06"
    ixz="-3.6832E-07"
    iyy="1.9222E-05"
    iyz="-1.4045E-07"
    izz="6.4721E-05"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="white"
  />

  <!-- Fixed gripper joint, no axis needed -->
  <xacro:arctos_joint
    name="Gripper_joint" type="fixed"
    parent="link_6" child="gripper_body"
    origin_xyz="2.2508E-05 0.001025 0.051" origin_rpy="0.0 0.0 0.0"
    limit_u="0.0" limit_l="0.0" limit_e="0.0" limit_v="0.0" mimic=""
  />

  <!-- Right_finger_joint, prismatic with axis directly defined -->
  <!-- TODO: Movement inverted -->
  <xacro:arctos_joint
    name="Right_finger_joint" type="prismatic"
    parent="gripper_body" child="right_finger"
    origin_xyz="0.02575 0 0.0085" origin_rpy="0.0 0.0 0.0" axis_xyz="-1.0 0.0 0.0"  
    limit_u="0.054" limit_l="0.002" limit_e="100.0" limit_v="100.0" mimic=""
  />

  <xacro:arctos_joint
    name="Left_finger_joint" type="prismatic"
    parent="gripper_body" child="left_finger"
    origin_xyz="-0.02655 0 0.0085" origin_rpy="1.5708 0 -3.1416" axis_xyz="-1.0 0.0 0.0"
    limit_u="0.054" limit_l="0.002" limit_e="100.0" limit_v="100.0" mimic="Right_finger_joint"
  />


</robot>
