<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find arctos_description)/urdf/common/joint_link.xacro" />

  <!-- Arctos Simple Pinch Gripper -->
  <!-- this definition used the "macro" in urdf/common to quickly define all the attributes-->
  <xacro:arctos_link
    name="gripper_body"
    inertia_origin_xyz="-7.0332E-05 9.1246E-05 -0.0028502" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.043421"
    ixx="7.2269E-06"
    iyy="3.9281E-05"
    izz="4.2669E-05"
    ixy="5.8062E-08"
    iyz="3.3981E-07"
    ixz="-5.7636E-08"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="white"
  />

    <xacro:arctos_link
    name="right_finger"
    inertia_origin_xyz="0.0093854 2.231E-05 0.024961" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.011241"
    ixx="2.3523E-06"
    iyy="2.0221E-06"
    izz="6.0068E-07"
    ixy="9.9484E-10"
    iyz="6.0211E-09"
    ixz="-5.1106E-08"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="white"
  />

  <xacro:arctos_link
    name="left_finger"
    inertia_origin_xyz="0.0093854 0.024961 -2.231E-05" inertia_origin_rpy="0.0 0.0 0.0"
    mass="0.011241"
    ixx="2.3523E-06"
    iyy="6.0068E-07"
    izz="2.0221E-06"
    ixy="-5.1106E-08"
    iyz="-6.0211E-09"
    ixz="-9.9484E-10"
    origin_xyz="0.0 0.0 0.0" origin_rpy="0.0 0.0 0.0"
    material_name="white"
  />

  <!-- Fixed gripper joint, no axis needed -->
  <xacro:arctos_joint
    name="Gripper_joint" type="fixed"
    parent="link_6" child="gripper_body"
    origin_xyz="2.2508E-05 0.001025 0.051" origin_rpy="0.0 0.0 0.0"
    limit_u="0.0" limit_l="0.0" limit_e="0.0" limit_v="0.0" mimic=""
  />

  <!-- Right_finger_joint, prismatic with axis directly defined -->
  <!-- TODO: Movement inverted -->
  <xacro:arctos_joint
    name="Right_finger_joint" type="prismatic"
    parent="gripper_body" child="right_finger"
    origin_xyz="0.02575 0 0.0085" origin_rpy="0.0 0.0 0.0" axis_xyz="-1.0 0.0 0.0"  
    limit_u="0.026" limit_l="0.002" limit_e="100.0" limit_v="100.0" mimic=""
  />

  <xacro:arctos_joint
    name="Left_finger_joint" type="prismatic"
    parent="gripper_body" child="left_finger"
    origin_xyz="-0.02655 0 0.0085" origin_rpy="1.5708 0 -3.1416" axis_xyz="-1.0 0.0 0.0"
    limit_u="0.026" limit_l="0.002" limit_e="100.0" limit_v="100.0" mimic="Right_finger_joint"
  />


</robot>
